// Fuentes
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$font-family-sans-serif: 'Khula', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
