<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Título de la página -->
    <title>{% block title %}{% endblock %} - Cajamarqueso</title>

    <!-- Estilos -->
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="sidebar-nav">
                        <a href="/" class="logo"></a>
                        <ul class="nav">
                            {% if usuario %}
                                {% if usuario.tipo == 1 or usuario.tipo == 2 %}
                                <li><a href="/pedido/nuevo" class="{% block nuevo_pedido %}{% endblock %}">Nuevo Pedido</a></li>
                                <li><a href="/pedido/pago" class="{% block registrar_pago %}{% endblock %}">Registrar Pago</a></li>
                                {% endif %}
                                {% if usuario.tipo == 1 %}
                                <li><a href="/pedido/actualizar" class="{% block actualizar_pedido %}{% endblock %}">Actualizar Pedido</a></li>
                                <li><a href="/ventas" class="{% block listar_ventas %}{% endblock %}">Ventas</a></li>
                                {% endif %}
                                {% if usuario.tipo == 1 or usuario.tipo == 3 %}
                                <li><a href="/productos" class="{% block mantener_productos %}{% endblock %}">Productos</a></li>
                                {% endif %}
                                {% if usuario.tipo == 1 or usuario.tipo == 2 %}
                                <li><a href="/clientes" class="{% block mantener_clientes %}{% endblock %}">Clientes</a></li>
                                {% endif %}
                                {% if usuario.tipo == 1 %}
                                <li><a href="/usuarios" class="{% block mantener_usuarios %}{% endblock %}">Usuarios</a></li>
                                {% endif %}
                                <li><a href="/logout">Salir</a></li>
                            {% else %}
                                <li><a href="/login" class="{% block login %}{% endblock %}">Conectarse</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    {% if usuario %}
                        <div class="row">
                            Bienvenido, <strong>{{ usuario.nombres }} {{ usuario.apellidos }}</strong>
                            {% if usuario.tipo == 1 %}
                                (Administrador)
                            {% elif usuario.tipo == 2 %}
                                (Encargado de ventas)
                            {% elif usuario.tipo == 3 %}
                                (Encargado de Producción)
                            {% endif %}
                            <hr>
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block footer %}{% endblock %}
        {% include "pedidos/buscar.html" %}
    </div>
    <!-- Scripts -->
    {% block js %}
        <script src="/static/js/app.js"></script>
    {% endblock %}
</body>
</html>
