{% extends "layouts/app.html" %}

{% block title %}Generar pedido{% endblock %}

{% block nuevo_pedido %}
    {% if id_pedido is not defined %}
        active
    {% endif %}
{% endblock %}

{% block actualizar_pedido %}
    {% if id_pedido is defined %}
        active
    {% endif %}
{% endblock %}

{% block content %}
<div class="{% if not cliente%}no-client{% endif %}">
    {% if error %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
    {% endif %}
    {% if success %}
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        </div>
    {% endif %}
    {% if not cliente %}
        <div class="row btn-no-client-wrapper">
            <button type="button" class="btn btn-primary btn-no-client" data-toggle="modal" data-target="#buscar-cliente">
                Buscar cliente
            </button>
        </div>
    {% else %}
        <div class="row">
            <h2>
                {% if id_pedido is defined %}
                    Actualizar pedido
                {% else %}
                    Generar nuevo pedido
                {% endif %}
            </h2>
            <hr>
            <div class="col-md-6">
                <h4>Datos de cliente</h4>
                <p><strong>DNI </strong> {{ cliente.id_cliente }}</p>
                <p><strong>Nombre </strong> {{ cliente.nombre_cliente }}</p>
                <p><strong>Teléfono </strong> {{ cliente.telefono_cliente }}</p>
                <p><strong>Email </strong> {{ cliente.email_cliente }}</p>
            </div>
            <div class="col-md-6">
                {% if id_pedido is not defined %}
                    <div class="text-right search-again">
                        <p><em>¿Este no es el cliente que querías?</em></p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscar-cliente">
                            Buscar otro
                        </button>
                    </div>
                {% else %}
                <h4>Datos de pago</h4>
                    {% if not pago.items() %}
                        <div class="alert alert-info">No se ha registrado ningún pago por este pedido.</div>
                    {% else %}
                        <p><strong>Fecha realizado</strong> {{ pago.fecha_realizado }}</p>
                        <p><strong>Importe pagado (S/.)</strong> {{ pago.importe_pagado }}</p>
                    {% endif%}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    {% endif %}
{% if id_pedido is defined %}
    <form class="form-horizontal" method="post" action="/pedido/actualizar/{{ id_pedido }}">
{% else %}
    <form class="form-horizontal" method="post" action="/pedido/registrar-nuevo">
{% endif %}
        {% if cliente %}
            <input type="hidden" name="id_cliente" value="{{ cliente.id_cliente }}">
        {% endif %}
        <div class="row">
            <div class="col-md-7 products-list" id="products-list">
                {% for producto in productos %}
                    {% if id_pedido is defined %}
                        <div class="col-md-4 product">
                            <input type="radio" id="selector_item_{{ producto.id_producto }}" name="selector_producto" value="{{ producto.id_producto }}">
                            <label for="selector_item_{{ producto.id_producto }}" class="text-center">
                                <img src="data:image/png;base64,{{ producto.imagen_producto.decode('utf-8') }}">
                                <strong class="product_name">{{ producto.nombre_producto }} {{ producto.variedad_producto }}</strong><br>
                                Stock: <span class="product_stock">{{ producto.stock }}</span><br>
                                S/. <span class="product_price">{{ producto.precio }}</span>
                            </label>
                        </div>
                    {% elif id_pedido is not defined and producto.stock > 0 %}
                        <div class="col-md-4 product">
                            <input type="radio" id="selector_item_{{ producto.id_producto }}" name="selector_producto" value="{{ producto.id_producto }}">
                            <label for="selector_item_{{ producto.id_producto }}" class="text-center">
                                <img src="data:image/png;base64,{{ producto.imagen_producto.decode('utf-8') }}">
                                <strong class="product_name">{{ producto.nombre_producto }} {{ producto.variedad_producto }}</strong><br>
                                Stock: <span class="product_stock">{{ producto.stock }}</span><br>
                                S/. <span class="product_price">{{ producto.precio }}</span>
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="col-md-5">
                <div class="selected-products">
                    {% if detalles is defined %}
                        {% for detalle in detalles %}
                            <div class="panel panel-default product">
                                <div class="panel-body">
                                    <div class="col-md-3 text-center">
                                        <button type="button" class="btn btn-danger remove_product">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="col-md-9">
                                        <label for="producto_{{ detalle.producto_id }}" class="selected_product_name">{{ detalle.nombre_producto }} {{ detalle.variedad_producto }}</label><br>
                                        <input type="text" class="form-control" id="producto_{{ detalle.producto_id }}" name="producto_{{ detalle.producto_id }}" placeholder="Stock: {{ detalle.stock }}" value="{{ detalle.cantidad }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn btn-default btn-block" id="agregar-producto">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar producto
                </button>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-5 control-label">
                        Fecha
                        {% if id_pedido is defined %}
                            de registro
                        {% else %}
                            actual
                        {% endif %}
                    </label>
                    <div class="col-sm-7" style="padding-top:6px;padding-bottom:6px;line-height:1.42857143;">
                        {% if id_pedido is defined %}
                            {{ fecha_realizado }}
                        {% else %}
                            {{ ahora }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="estado_pedido" class="col-sm-5 control-label">Estado</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="estado_pedido" name="estado_pedido" {% if id_pedido is defined %}disabled{% endif %}>
                            {% if id_pedido is defined %}
                                <option value="1" {% if estado == 1 %}selected{% endif %}>Pagado</option>
                                <option value="2" {% if estado == 2 %}selected{% endif %}>No pagado</option>
                            {% else %}
                                <option value="1">Pagado</option>
                                <option value="2" selected>No pagado</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-5 control-label">
                        Monto
                    </label>
                    <div class="col-sm-7" style="padding-top:6px;padding-bottom:6px;line-height:1.42857143;">
                        S/. <span class="monto_total">0.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row text-right">
            {% if id_pedido is defined %}
                <a href="javascript:window.print()" class="btn btn-default" id="imprimir-pedido">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </a>
            {% endif %}
            <a href="/" class="btn btn-default" id="cancelar-accion">
                Cancelar
            </a>
            {% if id_pedido is defined %}
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            {% else %}
                <button type="submit" class="btn btn-primary">
                    Generar
                </button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "clientes/buscar.html" %}
{% endblock %}
