{% extends "layouts/app.html" %}

{% block title %}Generar pedido{% endblock %}

{% block nuevo_pedido %}active{% endblock %}

{% block content %}
<div class="{% if not cliente%}no-client{% endif %}">
    {% if error %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
    {% endif %}
    {% if success %}
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        </div>
    {% endif %}
    {% if not cliente %}
        <div class="row btn-no-client-wrapper">
            <button type="button" class="btn btn-primary btn-no-client" data-toggle="modal" data-target="#buscar-cliente">
                Buscar cliente
            </button>
        </div>
    {% else %}
        <div class="row">
            <h2>Datos del cliente</h2>
            <hr>
            <div class="col-md-12">
                <p><strong>DNI </strong> {{ cliente.id_cliente }}</p>
                <p><strong>Nombre </strong> {{ cliente.nombre_cliente }}</p>
                <p><strong>Teléfono </strong> {{ cliente.telefono_cliente }}</p>
                <p><strong>Email </strong> {{ cliente.email_cliente }}</p>

                <div class="text-right search-again">
                    <p><em>¿Este no es el cliente que querías?</em></p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscar-cliente">
                        Buscar otro
                    </button>
                </div>

            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    {% endif %}
    <form class="form-horizontal" method="post" action="/pedido/registrar-nuevo">
        {% if cliente %}
            <input type="hidden" name="id_cliente" value="{{ cliente.id_cliente }}">
        {% endif %}
        <div class="row">
            <div class="col-md-7 products-list" id="products-list">
                {% for producto in productos %}
                    <div class="col-md-4 product">
                        <input type="radio" id="selector_item_{{ producto.id_producto }}" name="selector_producto" value="{{ producto.id_producto }}">
                        <label for="selector_item_{{ producto.id_producto }}" class="text-center">
                            <img src="data:image/png;base64,{{ producto.imagen_producto.decode('utf-8') }}">
                            <strong class="product_name">{{ producto.nombre_producto }} {{ producto.variedad_producto }}</strong><br>
                            Stock: <span class="product_stock">{{ producto.stock }}</span><br>
                            S/. <span class="product_price">{{ producto.precio }}</span>
                        </label>
                    </div>
                {% endfor %}

            </div>
            <div class="col-md-5">
                <div class="selected-products">
                </div>
                <button type="button" class="btn btn-default btn-block" id="agregar-producto">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar producto
                </button>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-5 control-label">
                        Fecha
                        {% if id_pedido is defined %}
                            de registro
                        {% else %}
                            actual
                        {% endif %}
                    </label>
                    <div class="col-sm-7" style="padding-top:6px;padding-bottom:6px;line-height:1.42857143;">
                        {% if id_pedido is defined %}
                            {{ fecha_realizado }}
                        {% else %}
                            {{ ahora }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="estado_pedido" class="col-sm-5 control-label">Estado</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="estado_pedido" name="estado_pedido">
                            {% if id_pedido is defined %}
                                <option value="1" {% if estado == 1 %}selected{% endif %}>Pagado</option>
                                <option value="2" {% if estado == 2 %}selected{% endif %}>No pagado</option>
                            {% else %}
                                <option value="1">Pagado</option>
                                <option value="2" selected>No pagado</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-5 control-label">
                        Monto
                    </label>
                    <div class="col-sm-7" style="padding-top:6px;padding-bottom:6px;line-height:1.42857143;">
                        S/. <span class="monto_total">0.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row text-right">
            <a href="/" class="btn btn-default" id="cancelar-accion">
                Cancelar
            </a>
            <button type="submit" class="btn btn-primary">
                Generar
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "clientes/buscar.html" %}
{% endblock %}
