{% extends "layouts/app.html" %}

{% block title %}Registrar pago{% endblock %}

{% block registrar_pago %}active{% endblock %}

{% block content %}
    {% if error %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
    {% endif %}
    {% if success %}
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{ success }} <a href="javascript:window.print()" class="btn btn-success" id="imprimir-pedido">Imprimir</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <h2>Registrar pago</h2>
        <hr>
        <div class="col-md-6">
            <h3>Cliente</h3>
            <hr>
            <p>
                <strong>Tipo de cliente</strong>
                {% if cliente.tipo_cliente == 1 %}
                    Persona
                {% elif cliente.tipo_cliente == 2 %}
                    Empresa
                {% endif %}
            </p>
            <p>
                <strong>
                {% if cliente.tipo_cliente == 1 %}
                    DNI
                {% elif cliente.tipo_cliente == 2 %}
                    RUC
                {% endif %}
                </strong>
                {{ cliente.id_cliente }}
            </p>
            <p>
                {% if cliente.tipo_cliente == 1 %}
                    <strong>Nombres y Apellidos</strong>
                {% elif cliente.tipo_cliente == 2 %}
                    <strong>Razón social</strong>
                {% endif %}
                {{ cliente.nombre_cliente }}
            </p>
            <p>
                <strong>Teléfono</strong>
                {{ cliente.telefono_cliente }}
            </p>
            <p>
                <strong>Email</strong>
                {{ cliente.email_cliente }}
            </p>
        </div>
        <div class="col-md-6">
            <h3>Pedido</h3>
            <hr>
            <p>
                <strong>Fecha realizado</strong>
                {{ fecha_realizado }}
            </p>
            <p>
                <strong>Estado</strong>
                {% if estado == 1 %}
                    Pagado
                {% elif estado == 2 %}
                    No pagado
                {% endif %}
            </p>
            <hr>
            <h4>Productos</h4>
            {% for detalle in detalles %}
            <p>
                <strong>{{ detalle.nombre_producto }} {{ detalle.variedad_producto }}</strong><br>
                <em>
                    {{ detalle.cantidad }}
                    {% if detalle.cantidad == 1 %}
                        unidad
                    {% elif detalle.cantidad > 1 %}
                        unidades
                    {% endif %}
                </em> (S/. {{ detalle.precio }} c/u)
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <hr>
        <form class="form-horizontal" method="post">
            <input type="hidden" name="cod_pedido" value="{{ cod_pedido }}">
            {% if pago.cod_comprobante %}
            <div class="form-group">
                <label class="col-sm-5 control-label">Cod. de comprobante</label>
                <div class="col-sm-7">
                    {{ pago.cod_comprobante }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-5 control-label">Fecha actual</label>
                <div class="col-sm-7">
                    {{ ahora_mismo }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Subtotal</label>
                <div class="col-sm-7">
                    S/. {{ subtotal }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">IGV</label>
                <div class="col-sm-7">
                    S/. {{ igv }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Importe total</label>
                <div class="col-sm-7">
                    S/. {{ importe_total }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-primary">
                        Grabar
                    </button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
